# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\5-FORMATION\TABET Djalal\DM-ALGO-Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
